[submodule "Welcome"]
	path = Welcome
	url = https://dyerlab@github.com/DyerlabTeaching/Welcome.git
[submodule "Git-and-Github"]
	path = Git-and-Github
	url = https://dyerlab@github.com/DyerlabTeaching/Git-and-Github.git
